@import "../media.scss";

.container {
  display: flex;
  box-sizing: border-box;
  margin-top: 20px;
  .article {
    background-color: var(--juejin-layer-5);
    border-radius: 4px 4px 0 0;
    padding-top: 2.667rem;
    margin: 0 auto auto auto;
    padding-left: 2.67rem;
    padding-right: 2.67rem;
    width: calc(100% - 26.67rem);

    .title {
      margin: 0 0 1.667rem;
      font-size: 2.667rem;
      font-weight: 600;
    }

    .info {
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: var(--fot);
      opacity: 0.6;
      margin-bottom: 2.5rem;
      display: flex;
      align-items: center;
    }

    .authorImg {
      margin-right: 1rem;
      width: 3.333rem;
      height: 3.333rem;
      border-radius: 50%;
    }
    .authorName {
      height: 2rem;
      display: flex;
      align-items: center;
    }
    .authorName a {
      font-size: 1.333rem;
      font-weight: 500;
      color: var(--juejin-font-2);
      line-height: 2rem;
    }
    .followBtn {
      margin: 0 0 0 auto;
      padding: 0 1rem;
      height: 34px;
      font-size: 14px;
      color: var(--juejin-font-brand1-normal);
      background: var(--juejin-brand-fill1-normal);
      border: 1px solid rgba(30, 128, 255, 0.3);
      border-radius: 4px;
      display: none;
      align-items: center;
    }
    .followBtn:hover {
      background-color: var(--juejin-brand-fill2-hover);
    }
    .editDate {
      font-size: 1.167rem;
      color: var(--juejin-font-3);
      margin-top: 2px;
      line-height: 22px;
    }
    .content {
      margin-bottom: 5rem;
      font-size: 16px;
      line-height: 32px;
      word-break: break-word;
      line-height: 1.75;
      font-weight: 400;
      font-size: 14px;

      img {
        width: 50rem;
      }
    }
  }

  .sideBar {
    width: 22rem;
    margin: 0 auto auto auto;

    .authorBlock {
      background-color: var(--juejin-layer-5);
      border-radius: 4px;
      border: 0px;
      padding: 1.667rem;
      margin-bottom: 20px;
    }
    .info {
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: var(--secondary-color);
      opacity: 0.6;
      margin-bottom: 1.8rem;
      display: flex;
      align-items: center;
    }

    .authorImg {
      margin-right: 1rem;
      width: 3.333rem;
      height: 3.333rem;
      border-radius: 50%;
    }
    .authorName {
      height: 2rem;
      display: flex;
      align-items: center;
    }
    .authorName a {
      font-size: 1.333rem;
      font-weight: 500;
      color: var(--juejin-font-2);
      line-height: 2rem;
    }
    .signature {
      font-size: 1.167rem;
      color: var(--juejin-font-2);
      margin-top: 4px;
      font-weight: 400;
      line-height: 22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .btnBlock {
      margin-bottom: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      width: 140px;
      font-size: 14px;
      padding: 9px 20px;
      border: 1px solid var(--juejin-brand-1-normal);
    }
    .btnFirst {
      background-color: var(--juejin-brand-1-normal);
      color: var(--juejin-font-white);
    }
    .btnFirst:hover {
      background-color: var(--juejin-brand-2-hover);
    }
    .btnSecond {
      background-color: var(--juejin-brand-fill1-normal);
      color: var(--juejin-font-brand1-normal);
    }
    .btnSecond:hover {
      background-color: var(--juejin-brand-fill2-hover);
    }
    .divider {
      height: 1px;
      background: var(--juejin-gray-1-1);
    }
    .articleDetail {
      display: flex;
      align-items: center;
      margin-top: 0.667rem;
    }
    .icon {
      margin-right: 1rem;
    }
    .adFirst {
      width: 100%;
      margin-bottom: 20px;
      display: inline-block;
      border-radius: 4px;
    }

    .relateArticle {
      border-radius: 4px;
      background-color: var(--juejin-layer-5);
      padding: 0 1.667rem;
      margin-bottom: 20px;
    }
    .relateTitle {
      padding: 1rem 0;
      font-size: 18px;
      line-height: 2rem;
      color: var(--juejin-font-1);
      font-weight: 500;
      border-bottom: 1px solid var(--juejin-gray-1-1);
    }
  }
}

@include media-ipad {
  .article {
    width: 80%;
    .content {
      img {
        width: 100%;
      }
    }
  }
}

@include media-mobile {
  .article {
    width: 80%;
    .title {
      font-size: 1.75rem;
      line-height: 2.4375rem;
    }
    .content {
      h2 {
        font-size: 1.125rem;
        line-height: 1.5625rem;
      }
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .container{
    .article {
      margin: 0 0 auto 0;
      width: 100%;
      .followBtn {
        display: flex;
      }
    }

    .sideBar {
      width: 0;
      display: none;
    }
  }
}


