@import "./media.scss";


@mixin initStatus {
  transform: translate3d(0, 2.5rem, 0);
  opacity: 0;
}

@mixin finalStatus {
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding-top: 50px;

  .content {
    position: relative;
    margin-top: 0.33rem;
  }

  .entry_list {
    margin-right: 21.667rem;
    border-radius: 2px;
    width: 700px;

    .entry_list_container {
      background-color: var( --secondary-color);
      .list_header {
        display: flex;
        padding: 1rem 0.8rem;
        border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.1);

        .list_nav {
          display: flex;
          justify-content: space-between;

          .nav_list {
            align-items: center;
            line-height: 1;
            display: flex;
            justify-content: space-between;
            padding-left: 0;

            .nav_item {
              font-size: 15px;
              padding: 0 5px;
              border-right: 1px solid hsla(0, 0%, 59.2%, 0.2);
              position: relative;
              cursor: pointer;
            }
          }
        }
      }

      .entry_list_list {
        width: 100%;
        background-color: var( --secondary-colorr);
        position: relative;

        .item {
          transition: all 0.3s ease-in;
        }
      }
    }
  }

  .aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    background: var(--secondary-color);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    border-radius: 2px;

    line-height: 1.29;
    color: var(--primary-background-color);
    padding: 1rem 1.3rem;
    border-bottom: 1px solid hsla(0,0%,59.2%,.1);
    
  }
  .theme_icon{
    width: 1.25rem;
    height: 1.25rem;
    background-image: var(--theme-icon);
    background-size: 1.25rem 1.25rem;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

@include media-ipad {
  .container {
    .main {
      .grid {
        width: 95%;
        margin: auto;
        justify-content: center;
      }
    }
  }
}

@include media-mobile {
  .container {
    .main {
      .title {
        font-size: 1.75rem;
        line-height: 2.4375rem;
      }
      .description {
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin: 2rem 0;
      }
      .grid {
        width: 95%;
        margin: auto;
        justify-content: center;
        .card {
          height: 10rem;
          h2 {
            font-size: 1.125rem;
            line-height: 1.5625rem;
          }
          p {
            font-size: 0.75rem;
            line-height: 1.625rem;
          }
        }
      }
    }
  }
}
